@model PaginatedList<DAL.Models.Video>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <h1 class="display-4">Videos</h1>

    <p>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </p>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr style="background-color: #007BFF; color: white;">
                <th>Name</th>
                <th>Description</th>
                <th>Genre</th>
                <th>URL</th>
                <th>Image</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var video in Model)
            {
                <tr>
                    <td>@video.Name</td>
                    <td>@video.Description</td>
                    <td>@video.Genre.Name</td>
                    <td>@video.StreamingUrl</td>
                    <td>@video.ImageId</td>
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@video.Id">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@video.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        Page @(Model.PageIndex) of @Model.TotalPages

        @if (Model.HasPreviousPage)
        {
            <a href="@Url.Action("Index", new { page = Model.PageIndex - 1, pageSize = Model.PageSize })">Previous</a>
        }
        else
        {
            <span>Previous</span>
        }

        @if (Model.HasNextPage)
        {
            <a href="@Url.Action("Index", new { page = Model.PageIndex + 1, pageSize = Model.PageSize })">Next</a>
        }
        else
        {
            <span>Next</span>
        }
    </div>
</div>
